// Основные цвета
$color-primary: #029491;
$color-black: #000000;
$color-white: #FFFFFF;

// Дополнительные цвета
$color-orange: #FFB64F;
$color-light-blue: #7CE3E1;
$color-dark-blue: #5970FF;

// Шрифт
$font-primary: 'Fira Sans', sans-serif;
$font-secondary: 'Inter', sans-serif;

.tariffs-container {
    margin: 1rem 5rem;
}

.tariffs-header {
    font-family: $font-primary;
    font-size: 2.813rem;
    font-weight: 900;
    line-height: 3.375rem;
    letter-spacing: 0.01rem;
    text-align: left;
    color: $color-black;
}

.choose-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.choose-block-container {
    margin-top: 3rem;
    border: 2px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px #00000033;
}

.choose-beginner, .choose-pro {
    display: grid;
    grid-template-columns: auto max-content;
    grid-template-rows: auto auto;
    width: 25.938rem;
    height: 8.25rem;
    border: 2px;
    border-radius: 10px;
  }
  
  .choose-beginner {
    background-color: #FFB64F;
  
    .header-block {
      margin-left: 0.5rem;
      margin-bottom: 0.5rem;
      grid-column: 1 / -1; // занимает все колонки
      grid-row: 1 / 2; // первая строка
      font-family: $font-secondary;
      font-size: 1.875rem;
      font-weight: 500;
      line-height: 2.25rem;
      letter-spacing: 0.01rem;
      text-align: left;
    }
  
    .text-block {
      margin-left: 0.5rem;
      grid-column: 1 / 2; // первая колонка
      grid-row: 2 / 3; // вторая строка
      font-family: $font-secondary;
      font-size: 1.125rem;
      font-weight: 400;
      line-height: 1.375rem;
      letter-spacing: 0.01rem;
      text-align: left;
    }
  
    .img-block {
      margin-right: 0.5rem;
      margin-top: 1rem;
      grid-column: 2 / -1; // вторая колонка
      grid-row: 1 / -1; // занимает все строки
      align-self: start; // выравнивание содержимого по верхнему краю
      width: 92.24px;
      height: 83.15px;
    }
  }
  
  .choose-pro {
    @extend .choose-beginner; 
    background-color: $color-light-blue;
  } 
  
  .choose-business {
    @extend .choose-beginner; 
    background-color: $color-black;
    color: $color-white; 
  }

.choose-information {
    text-align: left;
}