// Основные цвета
$color-primary: #029491;
$color-black: #000000;
$color-white: #FFFFFF;

// Дополнительные цвета
$color-orange: #FFB64F;
$color-light-blue: #7CE3E1;
$color-dark-blue: #5970FF;

// Шрифт
$font-primary: 'Fira Sans', sans-serif;
$font-secondary: 'Inter', sans-serif;

.login-form {
    width: 26.813rem;
    height: 32.688rem;
    background-color: $color-white;
    box-shadow: 0rem 0rem 1.25rem 0rem #00000033;
    border-radius: 0.625rem;
    z-index: 0;
}

.login-form-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 2rem auto;
}

.submit {
    background-color: transparent;
    border: none;
    font-family: $font-secondary;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.21rem;
    letter-spacing: 0.02rem;
    text-align: left;
    color: $color-primary;
    text-decoration: none;
    border-bottom: 2px $color-primary solid;
    cursor: pointer;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin: 0rem auto;
    width: 80%;
}

.label {
    font-family: $font-secondary;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.21rem;
    letter-spacing: 0.02rem;
    text-align: left;
    color: $color-primary;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.input {
    border: 1px solid #C7C7C7;
    box-shadow: 0rem 0rem 1.25rem 0rem #0000000D;
    height: 2.688rem;
    border-radius: 0.313rem;
}

.submit_1 {
    margin-top: 1rem;
    background-color: transparent;
    border: none;
    font-family: $font-secondary;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.059rem;
    letter-spacing: 0.02rem;
    text-align: left;
    color: $color-dark-blue;
    text-decoration: none;
    border-bottom: 2px $color-dark-blue solid;
    cursor: pointer;
}

.login-social {
    margin-left: 5rem;
    font-family: $font-secondary;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.21rem;
    letter-spacing: 0.02rem;
    text-align: left;
    color: $color-primary;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-btn {
    margin-right: 0.5rem;
    height: 1.938rem;
    width: 6rem;
    background-color: transparent;
    border-radius: 3px;
    border: 1px solid #5970FF82;
    cursor: pointer;
}